@import '../styles/vars';
@import '../styles/settings';

.letter-anim {
  display: inline-block;
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-one {
  padding-top: 25rem;
}

.title {
  margin-bottom: 3rem;
  font-size: 6rem;
  font-weight: 700;
  color: #a09b9b;
}